*{
    margin: 0px;
}
/* header styles */
.header-container{
    width: 1320px;
    height: 600px;
    color: white;   
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url('../images/banner.png');
    background-repeat: no-repeat;
    background-position: top center;
    margin: 50px 250px;
    padding-top: 200px;
}
.header-text-container{
    text-align: center;
}
.header-greeting{
    font-size: 32px;
    text-align: center;
}
.new-year-title{
    text-align: center;
    font-size: 72px;
}
header{
    font-family: "Merriweather", serif;
}
/* 60% off categories styles */
.off{
    align-items: center;
    text-align: center;
    margin-top: 100px;
    font-family: "Inter", sans-serif;
}
.offer{
    font-size: 88px;
    color: #FF0000;
}
.our-deals{
    font-size: 24px;
    color: #FF0000;
}
.categories{
    font-size: 48px;
    color: #070211;
}
/* midnight styles */
.midnight{
    font-family: "Merriweather", serif;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),
     url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 50px;
}
.midnight-container{
    align-items: center;
    margin-left: 250px;
}
.midnight-title{
    font-size: 64px;
    color: white;
}
.midnight-title-description{
    font-size: 18px;
    color: white;
    opacity: .8;
}
.year-24{
    margin-right: 250px;
    width: 320px;
    height: auto;
}
.btn-midnight{
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
}
/* park hotel styles */
.park-hotel{

}
.park-hotel-container{
    background-color: rgb(255,211,211);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 32px; 
    padding: 50px;
    margin-left: 290px;
    margin-right: 280px;
    margin-top: 50px;
    border-radius: 5px;
}
.information{
    opacity: 100%;
}
.only-red{
    color: #FF0000;
}
.btn-new-park{
    font-size: 20px ;
    padding: 5px 10px;
    background-color: #FF0000;
    border: none;
    border-radius: 5px;
}
/* coming soon styles */
.coming-soon{
    display: flex;
    justify-content: space-around;
    margin-left: 280px;
    margin-right: 280px;
    margin-top: 50px;
    gap: 50px;
}
.img-circle{
    border: #FF0000 20px solid;
    border-radius: 50%;
    padding: 30px;
}

.coming-soon-description{
    color: #070211;
    font-size: 20px;
    opacity: .6;
}
.new-better-offer{
    font-size: 24px;
    font-family: "Inter", sans-serif;
}
.coming-soon-title{
    font-size: 48px;
}
/* Holidays styles */
.functional{
    font-size: 24px;
    font-family: "Inter", sans-serif;
}
.holidays-titles{
    font-size: 72px;
}
.holidays-container{
    text-align: center;
    margin: 50px 400px;
}
.images-holidays{
    align-items: center;
    margin-left: 250px;
}
/* portfolio styles */
.portfolio{
    margin-top: 50px;
}
.best-gifts{
    font-size: 24px;
    font-family: "Inter", sans-serif;
}
.awesome{
    font-size: 48px;
}
.portfolio-img-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 230px;
    gap: 10px;
}
.portfolio-container{
    margin-left: 250px;
}
/* newsletter design */
.newsletter-container{
    text-align: center;
    background-color: rgb(255,211,211);
    margin-right: 250px;
    margin-left: 250px;
    border-radius: 5px;
    padding: 50px 200px;
}
.email{
    background-color: white;
    padding: 20px 50px;
    border-radius: 30px;
    border: none;
}
.sub{
    background-color: #FF0000;
    padding: 20px 50px;
    border-radius: 30px;
    color: white;
    border: none;
}
.newsletter-title{
    font-size: 48px;
}
/* footer styles */
.foot{
    background-color: #070211;
    margin-top: 50px;
    padding: 100px;
}
.address{
    color: #FFFFFF;
}
.footer-contents{
    display: flex;
    justify-content: space-between;
    margin-left: 140px;
    margin-right: 140px;
}
.contacts{
    color: #FFFFFF;
    padding: 10px;
}
.footer-icons{
    display: flex;
    justify-content: space-around;
    margin: 20px 650px;
}
.copyright{
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin-left: 140px;
    margin-right: 140px;
    padding: 10px;
}
hr{
    color: white;
    opacity: .15;
}